section {
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/*00001 - FlexBox necesita un pabre y por lo menos un hijo*/

/*la propiedad display: flex;
    hace que los hijos ocuoen elalto del padre y el ancho del contenido*/


/*00001 - El Flex Container (contenedor padre) tiene dos ejes
    el eje por defecto (horizontal) y el eje secundario (vertical)*/

/*La propiedad flex-direction: row|column*/

/*00003 - Podemos modificar el eje principal con la propiedad flex-direction*/

/*La propiedad flex-direction: row|column|row-reverse|column-reverse*/

/*00004 - Podemos permitir el salto de columnas con la propiedad Flex-Wrap
    cuando los hijos no tienen espacio dentro del contenedor salta a la siguiente fila o columna*/

/*La propiedad flex-wrap: nowrap|wrap|wrap-reverse*/


/*00005 - Alineamos elementos en el eje principal con justify-content
    valores space-between|flex-end|flex-start|center|space_around||*/

/*La propiedad flex-wrap: nowrap|wrap|wrap-reverse*/
/*****http://the-echoplex.net/flexyboxes/********/
/*****http://flexbox.help/********/



.caja1{
    background-color: yellowgreen;
}

.caja2{
    background-color: greenyellow;
}

.caja3{
    background-color: darkgray;
}